/* General ********************************************************************/
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

/* Header *********************************************************************/
header {
    height: 15vh;
}

h1 {
    margin: 0;
    padding: 30px;

    font-size: 5em;
    text-align: center;
}

/* Main ***********************************************************************/
main {
    
    height: 85vh;
}

/* Counter */

/* Input */

/* Footer *********************************************************************/
