/* General ********************************************************************/
* {
    box-sizing: border-box;

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Popup **********************************************************************/

#popup {
    position: absolute;
    top: 30vh;
    left: 25vw;

    border: 8px solid black;
    border-radius: 20px;
    width: 50vw;
    height: 40vh;
    padding: 2vh 2vw;

    background-color: white;

    color: black;

    overflow-y: scroll;
}

.popup-title {
    font-size: 2em;
    text-align: center;
}

.popup-text {
    font-size: 1.6em;
    text-align: left;
}

.popup-close {
    position: absolute;
    top: 1vh;
    right: 1vw;

    font-size: 2.5em;
}

/* Header *********************************************************************/
header {
    margin-bottom: 5vh;
    height: 15vh;
}

#more-information {
    position: absolute;
    top: 50px;
    left: 50px;

    font-size: 3em;
}

h1 {
    margin: 0;
    padding: 30px;

    font-size: 5em;
    text-align: center;
}

/* Main ***********************************************************************/
main {
    display: flex;
    flex-direction: row;

    padding: 0 8vw;
    height: 85vh;
}

#counter, #words {
    height: 80%;
}

/* Counter */
#counter {
    margin-left: 5%;
    margin-right: 2.5%;
    border: 4px solid black;
    width: 25%;
    padding-right: 1vw;
    padding-left: 1vw;
}

#counter > ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}


#counter > ul > li {
    font-size: 1.6em;
    margin: 3vh 0;
}

#counter > ul > li > span {
    font-size: 0.9em;
}

/* Words */
#words {
    margin-left: 2.5%;
    margin-right: 5%;
    border: 4px solid black;
    padding: 0;
    width: 55%;
}

#word-input {
    margin: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 5px 15px;

    font-size: 1.3em;

    overflow-y: scroll;

    resize: none;
}

/* Footer *********************************************************************/
footer {
    padding: 0 8vw;
}

#project {
    display: flex;
    flex-direction: row;
}

.project-list {
    margin: 0;
    padding: 10vh 2vw;
    width: 25vw;

    /* font-size: 1.2em; */

    list-style-type: none;
}

.project-list-item {
    margin-bottom: 1vh;

}

.project-list-item > a {
    color: #565656;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
}

.project-list-item > a:hover, .project-list-item > a:focus {
    color: black;
}

.project-list-heading {
    margin-bottom: 3vh;

    font-size: 1.3em;
    font-weight: 600;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid #CDCDCD;
}

#data > ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;

    color: #A9A9A9;

    list-style-type: none;
}

#data-legal {

}

#data > ul > li > a, #data > ul > li > a > i {
    /* color: #787878; */
    font-size: 1.2em;
    text-decoration: none;

    cursor: pointer;
}

#data-legal > li {
    margin-right: 20px;
}

#data-legal > li > a:hover {
    color: black !important;
}

#data-legal > li > a:visited {
    color: inherit;
}

#data-social {

}

#data-social > li {
    margin-left: 20px;
}

.fa-twitter {
    color: #787878;
    transition: color 0.5s linear;
}

.fa-twitter:hover {
    color: #1DA1F2 !important;

    transition: color 0.5s linear;
}

.fa-facebook {
    color: #787878;
    transition: color 0.5s linear;
}

.fa-facebook:hover {
    color: #1877F2 !important;
    transition: color 0.5s linear;
}

.fa-instagram {
    background-clip: text;
    /* -webkit-text-fill-color: #787878; */
    background-image: linear-gradient(#787878, #787878) !important;
    color: #787878;

    transition: background-image 0.5s linear;
    transition: color 0.5s linear;
}

.fa-instagram:hover {
    /* color: #C13584 !important; */
    /* -webkit-text-fill-color: #C13584; */
    background-clip: text;
    /* background-image: linear-gradient(#C13584, #C13584) !important; */
    background-image: linear-gradient(
        #405DE6, #5851DB, #833AB4, #C13584, #E1306C,
        #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80
    ) !important;
    color: transparent;

    transition: background-image 0.5s linear;
    transition: color 0.5s linear;
}

#copyright {
    margin: 0;
    /* border-top: 1px solid #CDCDCD; */
    padding: 3vh 0;

    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}
